*{
box-sizing: border-box;
}
html{
font-size: 10px;
}
body{
margin: 0;
padding: 0;
font-family: 'Open Sans', sans-serif;
font-weight: 600;
font-size: 1.5rem;
color: #ffffff;
}
h3{
font-size: 2rem;
font-weight: normal;
line-height: 1;
text-align: center;
}
.footer__description--blue{
color: #1da8d0; 
}
.container{
max-width: 1180px;
margin: 0 auto;
}
.wrraper{
display: flex;
flex-direction: column;
align-items: center;
padding: 60px 0 32px 0;
background-color: #121116;
}
.footer__social h3{
padding: 20px 30px ;
border-bottom: 1px solid #fff;
}
.social__links  {
padding: 0 0 80px ;
margin: 0 30px;
text-align: center;
}
.social__links li {
display: inline-block;
margin: 0 10px;
font-size:2rem;

}
.social__links a{
color: #fff;
}
.footer__description{
padding: 0 5px 0 25px;
}

.social__links--blue:hover{
    color:blue;
 }
.social__links--red:hover{
    color:red;
}
.social__links i:hover ,
.social__links i:focus ,
.social__links i:active{
    transition: all .4s ease-in;
    transform: scale(-1,1.3);
}

















